<!-- <div class="steps-container">
  <ion-card mode="ios" *ngFor="let style of styles$ | async" (click)="onSelect(style.name)" button="true">
    <ion-card-content>
      <img src="./assets/img/tacos/{{ style.name }}.png" />
      <ion-card-title>{{ 'order.tacos.style.' + style.name | translate }}</ion-card-title>
      <p>{{ 'core.price.from' | translate }} {{ style.price | currency: 'EUR' }}</p>
    </ion-card-content>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>
</div> -->

<food-shared-list-card [foods]="styles$ | async"></food-shared-list-card>
