<ion-header>
  <food-shared-toolbar-component [title]="'order.new-order.title.default' | translate"></food-shared-toolbar-component>
  <ion-segment
    color="secondary"
    (ionChange)="onSegmentChange($event)"
    [value]="currentStep$ | async"
    scrollable="true"
    mode="md"
  >
    <ion-segment-button *ngFor="let step of STEPS" [value]="step">
      <ion-icon name="eyedrop"></ion-icon>
      <ion-label>{{ 'order.tacos.' + step + '.name' | translate }}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <food-shared-list-card
    *ngIf="(currentStep$ | async) === Step.STYLE"
    [foods]="styles$ | async"
    (selected)="onSelect($event)"
  ></food-shared-list-card>
  <food-shared-list-card
    *ngIf="(currentStep$ | async) === Step.SIZE"
    [foods]="sizes$ | async"
    (selected)="onSelect($event)"
  ></food-shared-list-card>
  <food-shared-list-card
    *ngIf="(currentStep$ | async) === Step.MEAT"
    [foods]="meats$ | async"
    (selected)="onSelect($event)"
  ></food-shared-list-card>
  <food-shared-list-card
    *ngIf="(currentStep$ | async) === Step.SAUCE"
    [foods]="sauces$ | async"
    (selected)="onSelect($event)"
  ></food-shared-list-card>
  <food-shared-list-card
    *ngIf="(currentStep$ | async) === Step.GARNISH"
    [foods]="garnishes$ | async"
    (selected)="onSelect($event)"
  ></food-shared-list-card>
  <food-shared-list-card
    *ngIf="(currentStep$ | async) === Step.GRATIN"
    [foods]="gratins$ | async"
    (selected)="onSelect($event)"
  ></food-shared-list-card>
</ion-content>
